.App {
  text-align: center;
}

body {
  margin: 0 auto;
      background: "linear-gradient(to top, rgba(0, 107, 129, 1), rgba(0, 107, 129, 0.5))";
          min-height: "100vh";
          display: "flex";
          flex-direction: "column";
          justify-content: "center";
}
